<div class="comments-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <%= form_for @comment do |f| %>
         <%= f.hidden_field "authenticity_token" form_authenticity_token %>
         <div class="form-group">
            <%= f.lebel :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
       　<% end %>
      </div>
    </div>
  </div>
</div>
